
.af-icon{
    background:url(../svg/test.svg);
}

.af-icon2{
    background: url(../svg/AFLogosvg2.svg);
}

.bookmark-icon{
    background: url(../svg/icons8-bookmark-50.svg);
}

.like-icon{
    background: url(../svg/icons8-favorite-folder-50.svg);
}

.share-icon{
    background: url(../svg/icons8-share-50.svg);
}

.menu-icon{
    background: url(../svg/icons8-menu-100.svg);
}

.instagram-icon{
    background: url(../svg/icons8-instagram-50.svg);
}

.facebook-icon{
    background: url(../svg/icons8-facebook-50.svg);
}

.tick-icon{
    background: url(../svg/icons8-ok-50.svg);
}

.cross-icon{
    background: url(../svg/icons8-cancel-50.svg);
}
