$bodycolour: #b3b48c;
$textcolour:#685F3B;
$titlefont: "Roboto", sans-serif;
$textfont: "Calligraffitti", cursive;
$textsize: 1rem;
$titlecolour:rgb(0, 126, 0);
$contentpadding: 200px;
$imgradius: 10px;
$imgfit: cover;




